<section class="container-page-404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="col-sm-12 col-sm-offset-1  text-center">
                    <div class="four-zero-four">
                        <h1 class="text-center ">Whoops! This is not what you were looking for</h1>
                    </div>
                    <div class="contant-box-404">
                        <img src="/images/404.jpg" class="img-403">
                        <h3 class="h2">
                            Try your luck by going back to the
                        </h3>
                        <a href="/" class="link-404">home page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
