<!-- About Start -->
<div class="container-fluid py-5 about">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0 about">
            </div>
            <div class="col-lg-7">
                <div class="text-left mb-4">
                    <h5 class="text-white text-primary text-uppercase mb-3" style="letter-spacing: 5px;">About Us</h5>
                    <h1 class="text-white">Innovative Way To Learn</h1>
                </div>
                <p class="text-white">Unlock Your Creativity — Join A Community Of International Creators To Make,
                    Share, And Grow Your Creative Ideas. Boost
                    Your Creative Skills By Learning The Secrets And Techniques Of Renowned Experts. The Creative
                    Community. Online Courses.
                    At Your Own Pace. Enjoy Learning From Home.</p>
                <a href="/" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->