<!-- Category Start -->
<div th:fragment="categories" class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Subjects</h5>
            <h1>Explore Our Art Workshops by Category</h1>
        </div>
        <div class="row">
            <div th:each="c : ${T(com.artcources.artistica.model.enums.WorkshopCategoryEnum).values()}" th:object="${c}"
                 class="col-lg-3 col-md-6 mb-5">
                <div class="cat-item position-relative overflow-hidden rounded mb-2" >
                    <img class="img-fluid" th:attr="src=@{'/images/cat-' + ${c.name().toLowerCase()} + '.jpg'}" alt="">
                    <a class="cat-overlay text-white text-decoration-none"
                       th:attr="href=@{'/workshops/categories/' + ${c.name().toLowerCase()}}">
                        <h4 class="text-white font-weight-medium"
                            th:text="${#strings.capitalize(c.name().toLowerCase().replace('_',' '))}"></h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category Start -->
