 <!-- Registration Start -->
 <div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
    <div class="container py-5" th:object="${workshop}">
        <div th:replace="fragments/commons::workshopDetails"></div>
    </div>
    <div class="workshop-content">
        <a class="link-title" th:href="@{/workshops/{id}(id=*{id})}">
            <h3 class="workshop-title" th:text="*{title}"><a th:href="@{/workshops/{id}(id=*{id})}">workshop
            </a></h3>
            <hr class="">
            <div class="row justify-content-center">
                <form class="col-md-5" th:action="@{/admin/review-workshop/approve/{id}(id=*{id})}" th:method="PATCH">
                    <button class=" btn-green"> <span class="material-icons">done_outline</span>Approve</button>
                </form>
                <form  class="col-md-5" th:action="@{/admin/review-workshop/reject/{id}(id=*{id})}" th:method="PATCH">
                    <button class=" btn-red"> <span class="material-icons">close</span>Reject</button>
                </form>
            </div>
        </a>
    </div>
</div>
<!-- Registration End -->

