<!-- Add Start -->
<div class="container-fluid bg-registration py-12" style="margin: 90px 0;">
    <div class="container py-12">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="card border-0">
                    <div class="card-header bg-light text-center p-4">
                        <h1 class="m-0">Create Workshop</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-primary p-12">
                        <!-- <form #form="ngForm" (ngSubmit)="addTheme(form)">

                            <div class="new-theme-title">
                                <label for="themeName">Title <span class="red">*</span></label>
                                <input type="text" name="themeName" id="themeName" ngModel #inputThemeName="ngModel"
                                    required minlength="5" />

                                @if(inputThemeName?.touched){
                                <div>
                                    @if(inputThemeName?.errors?.['required']){
                                    <p class="error">Theme name is required.</p>
                                    }
                                   
                                    @if(inputThemeName?.errors?.['minlength']){
                                    <p class="error">Theme name must be at least 5 characters long.</p>
                                    }
                                </div>
                                }
                            </div>
                            <div class="new-theme-content">
                                <label for="postText">Post <span class="red">*</span></label>
                                <textarea type="text" name="postText" id="postText" rows="8" class="height" ngModel
                                    #inputPostText="ngModel" required minlength="10"></textarea>

                                @if(inputPostText?.touched){
                                <div>
                                    @if(inputPostText?.errors?.['required']){
                                    <p class="error">The field with your post is required.</p>
                                    }
                               
                                    @if(inputPostText?.errors?.['minlength']){
                                    <p class="error">Post must be at least 10 characters long.</p>
                                    }
                                </div>
                                }
                            </div>
                            <div class="new-theme-buttons">
                                <button class="cancel">Cancel</button>
                                <button class="public" [disabled]="form.invalid"
                                    [style]="{ backgroundColor: form.invalid ? 'grey' : '#234465' }">
                                    Post
                                </button>
                            </div>
                        </form>
 -->

                        <!--  -->


                        <form #form="ngForm" (ngSubmit)="addTheme(form)" enctype="multipart/form-data">
                            <div class="form-group">
                                <!-- <label>Reference photo</label><br> -->
                                <input class="form-control border-0 p-4" placeholder="Reference photo" type="text"
                                    name="refPhoto" id="refPhoto" ngModel #inputRefPhoto="ngModel" required
                                    minlength="5" />

                                @if(inputRefPhoto?.touched){
                                <div>
                                    @if(inputRefPhoto?.errors?.['required']){
                                    <p class="error">Theme name is required.</p>
                                    }
                                    <!---->
                                    @if(inputRefPhoto?.errors?.['minlength']){
                                    <p class="error">Theme name must be at least 5 characters long.</p>
                                    }
                                </div>
                                }


                                <!-- <input th:object="${referencePhoto}" name="referencePhoto" type="file"
                                    class="form-control border-0 p-4" /> -->
                            </div>


                            <div class="form-group">
                                <!-- <label>Final photo</label><br> -->
                                <input class="form-control border-0 p-4" placeholder="Final photo" type="text"
                                    name="finalPhoto" id="finalPhoto" ngModel #inputFinalPhoto="ngModel" required
                                    minlength="5" />

                                @if(inputFinalPhoto?.touched){
                                <div>
                                    @if(inputFinalPhoto?.errors?.['required']){
                                    <p class="error">Theme name is required.</p>
                                    }
                                    <!---->
                                    @if(inputFinalPhoto?.errors?.['minlength']){
                                    <p class="error">Theme name must be at least 5 characters long.</p>
                                    }
                                </div>
                                }

                                <!-- 
                                <input th:object="${finalPhoto}" type="file" name="finalPhoto"
                                    class="form-control border-0 p-4" /> -->
                            </div>


                            <div class="form-group">
                                <!-- <label>Video</label><br> -->

                                <input class="form-control border-0 p-4" placeholder="Video" type="text" name="video"
                                    id="video" ngModel #inputVideo="ngModel" required minlength="5" />

                                @if(inputVideo?.touched){
                                <div>
                                    @if(inputVideo?.errors?.['required']){
                                    <p class="error">Theme name is required.</p>
                                    }
                                    <!---->
                                    @if(inputVideo?.errors?.['minlength']){
                                    <p class="error">Theme name must be at least 5 characters long.</p>
                                    }
                                </div>
                                }


                                <!-- <input th:object="${video}" type="file" name="video"
                                    class="form-control border-0 p-4" /> -->
                            </div>


                            <div class="form-group">
                                <input placeholder="Title" class="form-control border-0 p-4" type="text" name="title"
                                    id="title" ngModel #inputTitle="ngModel" required minlength="5" />

                                @if(inputTitle?.touched){
                                <div>
                                    @if(inputTitle?.errors?.['required']){
                                    <p class="error">Theme name is required.</p>
                                    }
                                    <!---->
                                    @if(inputTitle?.errors?.['minlength']){
                                    <p class="error">Theme name must be at least 5 characters long.</p>
                                    }
                                </div>
                                }


                                <!-- <input th:field="*{name}" th:errorclass="is-invalid" type="text"
                                    class="form-control border-0 p-4" placeholder="Title" required="required" /> -->
                                <!-- <div th:errors="*{name}" class="invalid-feedback bg-danger text-light rounded">
                                    Title must be between 5 anf 25 characters.
                                </div> -->
                            </div>


                            <div class="form-group">
                                <input class="form-control border-0 p-4" placeholder="Description" type="text"
                                    name="description" id="description" ngModel #inputDescription="ngModel" required
                                    minlength="5" />

                                @if(inputDescription?.touched){
                                <div>
                                    @if(inputDescription?.errors?.['required']){
                                    <p class="error">Theme name is required.</p>
                                    }
                                    <!---->
                                    @if(inputDescription?.errors?.['minlength']){
                                    <p class="error">Theme name must be at least 5 characters long.</p>
                                    }
                                </div>
                                }



                                <!-- <input th:field="*{description}" th:errorclass="is-invalid" type="text"
                                    class="form-control border-0 p-4" placeholder="Description" required="required" />
                                <div th:errors="*{description}" class="invalid-feedback bg-danger text-light rounded">
                                    Description must be between 5 anf 500 characters.
                                </div> -->
                            </div>


                            <div class="form-group">
                                <!-- Form starts
                                <form [formGroup]="form">
                                    <select formControlName="state">
                                        <option *ngFor="let state of states" [ngValue]="state">
                                            {{ state.abbrev }}
                                        </option>
                                    </select>
                                </form> -->

                                <!-- <form [formGroup]="levelForm">
                                    <select class="custom-select border-0 px-4" style="height: 47px;" id="level"
                                        formControlName="levels">
                                        <option value="" selected>Level of Experience</option>
                                        <option *ngFor="let l of levels" [ngValue]="l">{{ l }}</option>
                                    </select>
                                </form> -->
                                <!-- <select th:field="*{experienceLevel}" th:errorclass="is-invalid"
                                    class="custom-select border-0 px-4" style="height: 47px;">
                                    <option value="" selected>Level of Experience</option>
                                    <option
                                        th:each="l : ${T(com.artcources.artistica.model.enums.ExperienceLevelEnum).values()}"
                                        th:value="${l}" th:text="${l}"></option>
                                </select> -->
                                <div th:errors="*{experienceLevel}"
                                    class="invalid-feedback bg-danger text-light rounded">
                                    You must select a experience level
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <select id="category" formControlName="category">
                                    <option *ngFor="let c of categories" [ngValue]="c">{{ c }}</option>
                                </select> -->
                                <!-- <select th:field="*{category}" th:errorclass="is-invalid"
                                    class="custom-select border-0 px-4" style="height: 47px;">
                                    <option value="" selected>Category</option>
                                    <option
                                        th:each="l : ${T(com.artcources.artistica.model.enums.WorkshopCategoryEnum).values()}"
                                        th:value="${l}" th:text="${l}"></option>
                                </select>
                                <div th:errors="*{category}" class="invalid-feedback bg-danger text-light rounded">
                                    You must select a workshop category
                                </div> -->
                            </div>
                            <div>
                                <button class="btn btn-dark btn-block border-0 py-3" [disabled]="form.invalid"
                                    [style]="{ backgroundColor: form.invalid ? 'grey' : '#234465' }">
                                    Post
                                </button>
                                <button class="btn btn-dark btn-block border-0 py-3 cancel">Cancel</button>

                            </div>
                            <!-- <div>
                                <button class="btn btn-dark btn-block border-0 py-3" type="submit">Create</button>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add End -->