<h1>works</h1>
<div class="bg-light-brown" style="padding: 20px 0">
    <div id="login-form-wrap">
        <h2>Edit '{{ user.username }}' profile</h2>
        <form (ngSubmit)="onSubmit()" id="login-form" method="post">
            <p>
                <input formControlName="username" id="username" name="username" placeholder="Username" type="text"
                    value='{{ user.username }}' />
            </p>
            <span *ngIf="profileForm.get('username')?.touched">
                <div *ngIf="profileForm.get('username')?.errors?.['required']" style="color: #de2d2d">
                    Username is required!
                </div>
            </span>
            <p>
                <input formControlName="email" id="email" name="email" placeholder="Email Address" type="email"
                    value='{{ user.email }}' />
                <span *ngIf="profileForm.get('email')?.touched">
                    <div *ngIf="profileForm.get('email')?.errors?.['required']" style="color: #de2d2d">
                        Email is required!
                    </div>
                    <div *ngIf="profileForm.get('email')?.errors?.['email']" style="color: #de2d2d">
                        Email is invalid!
                    </div>
                </span>
            </p>
            <p>
                <input formControlName="img" id="img" name="img" placeholder="Image" type="text"
                    value='{{ user.img }}' />
                <span *ngIf="profileForm.get('img')?.touched">
                    <div *ngIf="profileForm.get('img')?.errors?.['required']" style="color: #de2d2d">
                        Picture is required!
                    </div>
                </span>
            </p>
            <div *ngIf="user.img" class="image-preview">
                <p>Image Preview:</p>
                <img [src]="user.img" alt="Workshop Image Preview" />
            </div>
            <p>
                <input [style]="{ backgroundColor: profileForm.invalid ? 'grey' : '' }" [disabled]="profileForm.invalid"
                    id="register" type="submit" value="Edit profile" />
            </p>
        </form>
        <div id="create-account-wrap">
            <p>
                Want to change password?
                <a routerLink="/change-password/{{ user.id }}">Change password here</a>
            </p>
            <p></p>
            <p>
                Want to delete your profile?
                <a (click)="deleteProfile(user.id)" style="cursor: pointer; color: red">Delete from here</a>
            </p>
            <p></p>
        </div>
    </div>
</div>