<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Admin</th>
                <th scope="col">Mentor</th>
                <th scope="col">Controls</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${allUsers}" th:object="${user}">
                <th scope="row" th:text="*{id}"></th>
                <td><span th:text="*{username}"></span></td>
                <td><span  th:text="*{firstName}"></span></td>
                <td><span  th:text="*{lastName}"></span></td>
                <td th:if="*{isAdmin}"><i class="fa fa-check text-primary mr-3"></i><!--<span>V</span>--></td>
                <td th:th:unless="*{isAdmin}"><span>-</span></td>
                <td th:if="*{isMentor}"><i class="fa fa-check text-primary mr-3"></i><!--<span>V</span>--></td>
                <td th:unless="*{isMentor}"><span>-</span></td>
                <td th:if="*{isMentor} and !*{isAdmin}" class="col-md-2">
                     <form th:action="@{/admin/manage-users/add-admin(username=*{username})}" th:method="PATCH">
                         <button class="small-btn" type="submit">Make admin</button>
                     </form>
                </td>
                <td th:if="*{isAdmin}"  class="col-md-2">
                     <form th:action="@{/admin/manage-users/remove-admin(username=*{username})}" th:method="PATCH">
                         <button class="small-btn-remove" type="submit">Remove admin</button>
                     </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
