<section class="search-page">
    <h2 class="text-center">Search Workshops</h2>
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="search-form">
        <div class="form-row">
            <!-- <select formControlName="mentor" (change)="onMentorChange(searchForm.value.brand)">
                <option value="">Select Mentor</option>
                <option *ngFor="let mentor of workshopMentor" [value]="mentor">{{ mentor }}</option>
            </select> -->

            <select formControlName="categoryType">
                <option value="">Select Category Type</option>
                <option *ngFor="let type of categoryTypes" [value]="type">{{ type }}</option>
            </select>

            <select formControlName="levelType">
                <option value="">Select Level Type</option>
                <option *ngFor="let type of levelTypes" [value]="type">{{ type }}</option>
            </select>
        </div>


        <div class="form-actions">
            <button type="submit" class="btn-search">Search</button>
            <button type="button" (click)="resetFilters()" class="btn-reset">Reset</button>
        </div>
    </form>

    <div class="workshop-grid">
        <div class="workshop-card" *ngFor="let workshop of filteredWorkshops">
            <img [src]="workshop.img" alt="{{ workshop.title }}" class="workshop-image" />
            <div class="workshop-details">
                <h4>{{ workshop.title }}</h4>
                <!-- <p>Mentor: {{ workshop.userId.username}}</p> -->
                <p>Fuel Type: {{ workshop.categoryType}}</p>
                <p>Fuel Type: {{ workshop.levelType }}</p>
                <button (click)="viewDetails(workshop.id)"
                    class="btn btn-primary py-2 px-4 ml-auto d-none d-lg-block">View Details</button>
            </div>
        </div>
    </div>
</section>