<!-- Login Start -->
<div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">

            <div class=" card border-0 col-lg-7 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Need Any Courses</h5>
                    <h1 class="text-grey">30% Off For New Students</h1>
                </div>
                <p class="text-grey">Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem
                    ipsum
                    ut sed eos,
                    ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est
                    dolor</p>
                <ul class="list-inline text-grey m-0">
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Labore eos amet dolor amet diam
                    </li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Etsea et sit dolor amet ipsum</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Diam dolor diam elitripsum vero.
                    </li>
                </ul>
            </div>

            <div class="col-lg-5">
                <div class="card border-0">
                    <form class="login" #form="ngForm" (ngSubmit)="login(form)">
                        <fieldset>
                            <div class="card-header bg-light text-center p-4"
                                [style]="{ backgroundColor: 1==1 ? 'grey' : '#eaa152' }">
                                <h1 class="m-0">Sign In Now</h1>
                            </div>
                            <div class="card-body rounded-bottom bg-primary p-5">


                                <p class="form-group">
                                    <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                                    <!-- class="input-error" -->
                                    <input class=" form-control border-0 p-4" [class]="(
                                            (inputEmail?.touched && inputEmail?.errors?.['required']) || 
                                             (inputEmail?.touched && inputEmail?.errors?.['emailValidator']))
                                             ? 'input-error': ''" type="email" name="email" id="email"
                                        placeholder="Your email" ngModel #inputEmail="ngModel" required
                                        [appEmail]="domains" />
                                </p>

                                @if(inputEmail?.touched){
                                <div>
                                    @if(inputEmail?.errors?.['required']){
                                    <p class="error">Email is required!</p>
                                    }
                                    <!--  -->
                                    @if(inputEmail?.errors?.['emailValidator']){
                                    <p class="error ">Email is not valid!</p>
                                    }
                                </div>
                                }

                                <p class="field field-icon">
                                    <label for="password"><span><i class="fas fa-lock"></i></span></label>
                                    <input class="form-control border-0 p-4" [class]="(
                                              (inputPassword?.touched && inputPassword?.errors?.['required']) || 
                                               (inputPassword?.touched && inputPassword?.errors?.['minlength']))
                                               ? 'input-error': ''" type="password" name="password" id="password"
                                        placeholder="******" ngModel #inputPassword="ngModel" minlength="5" required />
                                </p>

                                @if(inputPassword?.touched){
                                <div>
                                    @if(inputPassword?.errors?.['required']){
                                    <p class="error">Password is required!</p>
                                    }

                                    @if(inputPassword?.errors?.['minlength']){
                                    <p class="error">Password must be at least 5 characters!
                                    </p>
                                    }
                                </div>
                                }


                                <a routerLink="/" class="btn btn-dark btn-block border-0 py-3"
                                    [style]="{ backgroundColor: form.invalid ? 'grey' : '' }">
                                    Login
                                </a>

                                <p class="text-center text-white py-2">
                                    Have an account?
                                    <a class="py-2 text-white" routerLink="/register">Register</a>
                                </p>

                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login End -->