<!-- Team Start -->
<div th:fragment="team" class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Mentors</h5>
            <h1>Meet Our Mentors</h1>
        </div>
        <div class="row" >
            <div th:each="m : ${mentors}" th:object="${m}" class="col-md-6 col-lg-3 text-center team mb-4">
                <div th:replace="fragments/commons::mentor"></div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->